/* Variables */
vin-blue = #5bb7ff
vin-green = #60b044
vin-red = #ff0000

#app{
  flex: 1;
}

.nav{
  flex-direction: row;
  height: 50px;
  background-color: #f8f8f8;
  padding: 0 10%;
  align-items: center;
  font-size: 15px;
  color: #777;

  >*{
    padding: 14px 20px;
  }

  >*.active{
    color: #33e0ff;
  }
  
  >.empty{
    flex: 1;
  }
}

.page-container{
  flex: 1;
  padding: 0 10%;
}